
.footer {
    display: flex; 
    justify-content: space-around;
    margin: 61px 175px;  
}

.logo-footer {
    width: 165px;
    height: 70px;
}

.ul-kontakts {
    list-style: none;
}

.p-kontakts {
    margin: 0;
    color: #000;
    // font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.input-footer {
    display: inline-flex;
    padding: 10px 80px 10px 10px;
    align-items: flex-start;
    gap: 10px;
}
















