<div class="footer">
    <div class="logo-footer">
        <p>Лого</p>
    </div>
    <ul class="ul-kontakts">
        <li class="li-kontakts">
            <p class="p-kontakts">Тел: +38 (123) 456 78 90</p>
        </li>
        <li class="li-kontakts">
            <p class="p-kontakts">E-Mail: codingmagic@gmail.com</p>
        </li>
        <li class="li-kontakts">
            <p class="p-kontakts">Facebook: CodingMagic</p>
        </li>
        <li class="li-kontakts">
            <p class="p-kontakts">Twitter: CodingMagic</p>
        </li>
        <li class="li-kontakts">
            <p class="p-kontakts">Instagram: CodingMagic</p>
        </li>
    </ul>
    <div class="email-footer">
        <input type="text" value="Ваша ел. адреса..." class="input-footer">
        <button type="button" class="subscribe">Підписатись</button>
    </div>
</div>

















