
<div class="scientists-div">
    <h1 class="scien-h1">Обери вченого/их</h1>

    <div class="wrap-scien">
        <ul class="ul-scien">
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
            <li class="li-scien"><img src="./img/Group 131.png" alt="" class="img-scien"></li>
        </ul>
    </div>

    <div class="scien-ask">
        <div class="wrap-list1">
            <ul class="list-ask">
                <li class="item-ask1 item-ask">
                    <button class="p-ask">Які вчені народилися в 19 ст.</button>
                </li>
                <li class="item-ask1 item-ask">
                    <button class="p-ask">Відсортувати вчених за алфавітом</button>
                </li>
                <li class="item-ask1 item-ask">
                    <button class="p-ask">Відсортувати вчених за кількістю прожитих років</button>
                </li>
                <li class="item-ask1 item-ask">
                    <button class="p-ask">Знайти вченого, який народився найпізніше</button>
                </li>
            </ul>
        </div>
        <div class="wrap-list2">
            <ul class="list-ask">
                <li class="item-ask">
                    <button class="p-ask">Знайти рік народження Albert Einshtein</button>
                </li>
                <li class="item-ask">
                    <button class="p-ask">Знайти вчених, прізвища яких починаються на на літеру “С”</button>
                </li>
                <li class="item-ask">
                    <button class="p-ask">Видалити всіх вчених, ім’я яких починається на “А”</button>
                </li>
                <li class="item-ask">
                    <button class="p-ask">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="button-wrap">
        <button class="p-ask">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>



</div>




